<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="player-container">
    <div id="player"></div>
    <div id="playlist-controls">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 player-control" id="prev">
          <div class="glyphicon glyphicon-chevron-left"></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 player-control" id="stop">
          <div class="glyphicon glyphicon-stop"></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 player-control" id="play">
          <div class="glyphicon glyphicon-play"></div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 player-control" id="next">
          <div class="glyphicon glyphicon-chevron-right"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="list-container">
    <div id="list">hi</div>
  </div>
</div>
